$c-black: #212353;
$c-black-light: #4b5d68;
$c-white: #fff;
$c-purple: #9c69e2;
$c-pink: #f063b8;
$c-gray: #dedee5;
$c-input: rgba(156, 105, 226, 0.2);
$c-feature-1: #eaf7f7;
$c-feature-2: #e5f2fa;
$c-feature-3: #fbeef8;
$c-feature-4: #f2eefb;

$h-buttons: 60px;
$h-slide: 560px;
$h-feature: 358px;

$s-social: 50px;

$fs-input: 16px;
